<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Gustavo Adrián Herrera Barragán & Julia María Dominguez Russell.

**Fecha:** 09 de febrero del 2022.

**Expediente** : 734546 & 749767.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: https://github.com/adrianhb01/ProyectoConjunto_GAHerrera_JMDominguez.git

# Tarea 2 a) Optimización Programación: Clase 4.

## Enunciado de tarea

### Ejercicio 1: 
1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

In [1]:
########### Solución 1
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

In [2]:
# Código de solución estudiante 1
.
.
.
.

SyntaxError: invalid syntax (232092477.py, line 2)

In [3]:
# Código de solución estudiante 2
import pandas as pd
def sumardiez(s):
    if (s<100):
        s+=10
    return s
orders2= pd.DataFrame(orders)
precio= orders2[3]*orders2[2]

precio_final= list(map(sumardiez, precio))

resultado= list(map(lambda x,y: (x,y), orders2[0],precio_final))
resultado

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

**Estudiante 2:**

Primero importamos la librería pandas para poder usar data frames.
Después creamos una función llamda `sumardiez`, la cual le suma 10 a un valor si este es menor que 100. 
Después creamos una variable de nombre `orders2`, la cual será un data frame de la lista `orders`, de esta manera podremos hacer operaciones entre las columnas.
Después creamos una variable de nombre `precio`, la cual es el resultado de multiplicar la tercera y cuarta columna del data frame `orders2`.
Para obtener el precio final aplicamos la función `sumardiez` a `precio`con un `map()`, y guardamos este resultado en la variable `precio_final`.
Por último, para obtener el resultado usamos un `map()`con una función `lambda`que ponga las variables `ordern[0]` y `precio_final`en una tupla.

### Ejercicio 2:
           
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

Resolver los anteriores ejercicios usando pandas (DataFrame)

In [1]:
########### Solución 2
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
          [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
          [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
          [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

In [ ]:
# Código de solución estudiante 1
.
.
.
.

In [81]:
## Código de solución estudiante 2
import numpy as np
from functools import reduce
def sumardiez(s):
    if (s<100):
        s+=10
    return s
p= lambda x,y: x+y

precios= [[i[1]*i[2] for i in x[1:]]for x in orders]

precios2= list(map(sumardiez, i) for i in precios)

precio_final= [reduce(p, i) for i in precios2]

resultado= list(map(lambda x,y: (x,y),range(1,4) ,precio_final))
resultado

[(1, 688.3299999999999), (2, 504.46000000000004), (3, 374.79999999999995)]

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

### Ejercicio 3
4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [ ]:
# Código de solución estudiante 1
.
.
.
.

In [26]:
# Código de solución estudiante 2
lista = 'the notion of a lambda function goes all the way back to the origin of computer science'.split()
result = list(filter(lambda palabra: len(palabra) >= 4, lista))
result

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

**Estudiante 2:**

### Ejercicio 4
5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [27]:
########### Solución 4
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

In [ ]:
# Código de solución estudiante 1
.
.
.
.

In [30]:
# Código de solución estudiante 2
result = list(filter(lambda temp: 32<= temp <= 80, temperatures))
result

[35.97387961379455,
 63.211195349983264,
 73.90387696517755,
 36.982512376595906,
 68.75395211338406,
 45.86132066984196,
 36.58307493022292,
 56.322083650154724,
 33.9621930206693,
 45.29071317816652,
 74.86289938282341,
 66.51091382521807,
 46.831316244170544,
 44.55796498523391]

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........

**Estudiante 2**

### Ejercicio 5
6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [31]:
########### Solución 5
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

In [ ]:
# Código de solución estudiante 1
.
.
.
.

In [40]:
# Código de solución estudiante 2
import numpy as np
np.minimum.reduce(point_xy)

array([0, 2])

### Respuesta planteada en el ejercicio usando (markdown)
 La respuesta es .........